# Node modules
Todo/node_modules
todo-backend/node_modules

# Build outputs
Todo/build
todo-backend/dist

# Env files
Todo/.env
todo-backend/.env

# Logs
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Coverage reports
**/coverage/

# Build output
**/dist/
**/build/

# IDE files
.vscode/
.idea/
*.swp

# Misc
*.DS_Store